<a href="https://colab.research.google.com/github/guiaech/API_Vtex_/blob/master/projeto_integrador_V_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Fazendo upload das credenciais para poder usar a API do Kaggle.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"guilhermeandradech","key":"160910ef6e38456ce8ec0ecddc7d7fb4"}'}

In [2]:
#Instalando a boblioteca do kaggle
!pip install kaggle --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [3]:
#Criação do diretório e cópia do arquivo de autorização da API.E listando pasta oculta.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle

kaggle.json

In [4]:
#Fazendo downloado dos arquivos pela API
!kaggle datasets download -d samuevan/reimbursemensts-deputies-brazil

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading reimbursemensts-deputies-brazil.zip to /content
 91% 118M/130M [00:00<00:00, 150MB/s]
100% 130M/130M [00:01<00:00, 134MB/s]

In [5]:
#Importando pandas para ler os arquivos csv
import pandas as pd

In [6]:
#Importando biblioteca para desconpactar arquivo zipado
from zipfile import ZipFile

In [7]:
#Nomeando uma variavel com os arquivos zipados
z = ZipFile('/content/reimbursemensts-deputies-brazil.zip', 'r')

In [8]:
#Extraindo os arquivos Zipados
z.extractall()
z.close()

In [ ]:
dt = pd.read_csv('/content/reimbursements-2008.csv', sep= ';', on_bad_lines='skip')
#rascunho

In [27]:
#Lendo o arquivo csv, nele o separador foi o ponto e virgula.
dt = pd.read_csv('/content/reimbursements-2008.csv', on_bad_lines='skip')
dt2 = pd.read_csv('/content/reimbursements-2009.csv', on_bad_lines='skip')
dt3 = pd.read_csv('/content/reimbursements-2010.csv', on_bad_lines='skip')
dt4 = pd.read_csv('/content/reimbursements-2011.csv', on_bad_lines='skip')
dt5 = pd.read_csv('/content/reimbursements-2012.csv', on_bad_lines='skip')
dt6 = pd.read_csv('/content/reimbursements-2013.csv', on_bad_lines='skip')
dt7 = pd.read_csv('/content/reimbursements-2014.csv', on_bad_lines='skip')
dt8 = pd.read_csv('/content/reimbursements-2015.csv', on_bad_lines='skip')
dt9 = pd.read_csv('/content/reimbursements-2016.csv', on_bad_lines='skip')
dt10 = pd.read_csv('/content/reimbursements-2017.csv', on_bad_lines='skip')
dt11 = pd.read_csv('/content/reimbursements-2018.csv', on_bad_lines='skip')
dt12 = pd.read_csv('/content/reimbursements-2019.csv', on_bad_lines='skip')
dt13 = pd.read_csv('/content/reimbursements-2020.csv', on_bad_lines='skip')
dt14 = pd.read_csv('/content/reimbursements-2021.csv', on_bad_lines='skip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
nova = pd.concat([dt, dt2,dt3,dt4,dt5,dt6,dt7,dt8,dt9,dt10,dt11,dt12,dt13,dt14,])

In [29]:
display(nova)

,congressperson_name,congressperson_id,congressperson_document,term,state,party,term_id,subquota_number,subquota_description,subquota_group_id,...,month,year,installment,passenger,leg_of_the_trip,batch_number,numbers,total_value,applicant_id,document_id
0,SILVIO COSTA,4930.0,160.0,2007,PE,PTB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,1973,0
1,ALDO REBELO,73428.0,331.0,2007,SP,PCdoB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,764,0
2,ANTONIO CARLOS PANNUNZIO,73431.0,334.0,2007,SP,PSDB,53,10,Telecommunication,0,...,3,2008,0,NaN,NaN,0,['0'],NaN,961,0
3,ANTONIO CARLOS PANNUNZIO,73431.0,334.0,2007,SP,PSDB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,961,0
4,ARNALDO FARIA DE SÁ,73434.0,337.0,2007,SP,PTB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,292,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36069,Ricardo Izar,160655.0,383.0,2019,SP,PP,56,10,Telecommunication,0,...,4,2021,0,NaN,NaN,1760047,[nan],0.0,2253,7182859
36070,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183050
36071,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183054
36072,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183064
36073,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183067

In [30]:
nova.to_csv('all_reimbursements.csv')

In [31]:
test = pd.read_csv('all_reimbursements.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
test

,Unnamed: 0,congressperson_name,congressperson_id,congressperson_document,term,state,party,term_id,subquota_number,subquota_description,...,month,year,installment,passenger,leg_of_the_trip,batch_number,numbers,total_value,applicant_id,document_id
0,0,SILVIO COSTA,4930.0,160.0,2007,PE,PTB,53,10,Telecommunication,...,12,2008,0,NaN,NaN,0,['0'],NaN,1973,0
1,1,ALDO REBELO,73428.0,331.0,2007,SP,PCdoB,53,10,Telecommunication,...,12,2008,0,NaN,NaN,0,['0'],NaN,764,0
2,2,ANTONIO CARLOS PANNUNZIO,73431.0,334.0,2007,SP,PSDB,53,10,Telecommunication,...,3,2008,0,NaN,NaN,0,['0'],NaN,961,0
3,3,ANTONIO CARLOS PANNUNZIO,73431.0,334.0,2007,SP,PSDB,53,10,Telecommunication,...,12,2008,0,NaN,NaN,0,['0'],NaN,961,0
4,4,ARNALDO FARIA DE SÁ,73434.0,337.0,2007,SP,PTB,53,10,Telecommunication,...,12,2008,0,NaN,NaN,0,['0'],NaN,292,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4016841,36069,Ricardo Izar,160655.0,383.0,2019,SP,PP,56,10,Telecommunication,...,4,2021,0,NaN,NaN,1760047,[nan],0.0,2253,7182859
4016842,36070,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183050
4016843,36071,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183054
4016844,36072,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183064
4016845,36073,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183067

In [33]:
import os 
  
sz = os.path.getsize("all_reimbursements.csv") 
  
print(sz)

863926082